name: Deploy App

on:
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: gorilla-clinic
  IMAGE_NAME: gorilla-clinic

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Image
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          IMAGE_PATH=${ACCOUNT_ID}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}/${{ env.IMAGE_NAME }}
          echo "IMAGE_PATH=$IMAGE_PATH" >> $GITHUB_ENV
          echo "Building image with tags: $IMAGE_PATH:${{ github.sha }} and $IMAGE_PATH:latest"
          docker build -t $IMAGE_PATH:${{ github.sha }} -t $IMAGE_PATH:latest .

      - name: Push Image
        run: |
          echo "Pushing image with tags: $IMAGE_PATH:${{ github.sha }} and $IMAGE_PATH:latest"
          docker push $IMAGE_PATH:${{ github.sha }}
          docker push $IMAGE_PATH:latest

